<!DOCTYPE html>
<html>
  <head>
    <title>MemeBackend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

      <%= render 'shared/navbar' %>
      <div class="max-w-sm mx-auto">
        <p class="text-green-600"><%= notice %></p>
        <p class="text-red-600"><%= alert %></p>
        <%= yield %>
      </div>
  </body>
</html>
